---
title: Home
layout: layout.jade
---

.intro
  h1 Morning!
  :markdown
    I'm Tobias Crawley, but you can call me Toby. I'm a
    software developer and all around nice guy. I currently work at
    [FarmLogs](https://farmlogs.com). You can learn 
    more about my Open Source software development here, or using the 
    links in the header above.

.row
  .col-md-10
    h2#oss
      span.glyphicon.glyphicon-hand-right
      span Open Source Work
    p Here are a few of the OSS projects to which I have provided significant contributions:
    .well

      ul
        each project in site.featuredProjects
          li <strong><a href="#{project.url}">#{project.name}</a></strong> - #{project.description}
    p 
      :markdown
        See the [contributions page](/contributions.html) for a more comprehensive list.
                
.row
  .col-md-10
    h2#presentations
      span.glyphicon.glyphicon-hand-right
      span Presentations
    p
     | I've given a few presentations about my work in the last few years. Here are a 
     | some of them, a few with video:

    .well
      ul
        each preso in site.presentations
          li
            if preso.video
              span.glyphicon.glyphicon-film &nbsp;
            else
              span.glyphicon.glyphicon-blackboard &nbsp;
            span <strong><a href="#{preso.url}">#{preso.name}</a></strong> - #{preso.location}
            
.row
  .col-md-10
    h2#podcasts
      span.glyphicon.glyphicon-hand-right
      span Podcasts
    p
     | I've been interviewed on a couple of podcasts, namely:

    .well
      ul
        each podcast in site.podcasts
          li <strong><a href="#{podcast.url}">#{podcast.name} - Episode #{podcast.episode}</a></strong>